:root {
  --catskill-white: rgb(237, 245, 247);
  --boulder: rgb(124, 124, 124);
  --scorpion: rgb(91, 91, 91);
  --mine-shaft: rgb(39, 39, 39);
  --fuchsia-blue: rgb(129, 86, 201);
  --curious-blue: rgb(28, 126, 214);
  --keppel: rgb(54, 187, 153);
  --orange-peel: rgb(245, 159, 0);
  --flamingo: rgb(240, 62, 62);
}